@font-face {
  font-family: 'icomoon';
  src: url("../fonts/icomoon/icomoon.eot?srf3rx");
  src: url("../fonts/icomoon/icomoon.eot?srf3rx#iefix") format("embedded-opentype"), url("../fonts/icomoon/icomoon.ttf?srf3rx") format("truetype"), url("../fonts/icomoon/icomoon.woff?srf3rx") format("woff"), url("../fonts/icomoon/icomoon.svg?srf3rx#icomoon") format("svg");
  font-weight: normal;
  font-style: normal;
}


/*******PAGES*********/
body {
  font-family: "Cormorant Garamond", Georgia, serif;
  font-weight: 400;
  font-size: 18px;
  line-height: 1.7;
  color: rgba(255, 255, 255, 0.3);
  background: #000 url(../images/bg.png) repeat;
}
@media (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi) {
  body {
    background: #000 url(../images/bg.png) repeat;
  }
}

#page {
  position: relative;
  overflow-x: hidden;
  width: 100%;
  height: 100%;
  -webkit-transition: 0.5s;
  -o-transition: 0.5s;
  transition: 0.5s;
}
.offcanvas #page {
  overflow: hidden;
  position: absolute;
}
.offcanvas #page:after {
  -webkit-transition: 2s;
  -o-transition: 2s;
  transition: 2s;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 101;
  background: rgba(0, 0, 0, 0.7);
  content: "";
}

a {
  color: #ea272d;
  -webkit-transition: 0.5s;
  -o-transition: 0.5s;
  transition: 0.5s;
}
a:hover, a:active, a:focus {
  color: #ea272d;
  outline: none;
  text-decoration: none;
}

p {
  margin-bottom: 30px;
  font-style: 18px;
}

h1, h2, h3, h4, h5, h6, figure {
  color: #000;
  font-family: "Cormorant Garamond", Georgia, serif;
  font-weight: 400;
  margin: 0 0 20px 0;
}

::-webkit-selection {
  color: #fff;
  background: #ea272d;
}

::-moz-selection {
  color: #fff;
  background: #ea272d;
}

::selection {
  color: #fff;
  background: #ea272d;
}

.div-nav {
  position: fixed;
  width: 100%;
  left: 0;
  right: 0;
  background: transparent;
  z-index: 1001;
  top: 0;
  padding: 14px 0;
  -webkit-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
}
@media screen and (max-width: 480px) {
  .div-nav {
    position: absolute;
  }
}
.div-nav.scrolled {
  background: #000 url(../images/bg.png) repeat;
  top: -82px;
}
@media (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi) {
  .div-nav.scrolled {
    background: #000 url(../images/bg.png) repeat;
  }
}
@media screen and (max-width: 480px) {
  .div-nav.scrolled {
    background: transparent;
  }
}
.div-nav #div-logo {
  font-size: 32px;
  margin: 0;
  padding: 0;
  font-weight: 700;
  font-family: "Cormorant Garamond", Georgia, serif;
  color: #fff !important;
}
.scrolled .div-nav #div-logo {
  color: #000 !important;
}
.div-nav #div-logo a {
  font-size: 42px;
  color: #fff !important;
}
.scrolled .div-nav #div-logo a {
  color: #000 !important;
}
.div-nav #div-logo a span {
  color: #ea272d;
  
}
@media screen and (max-width: 768px) {
  .div-nav .menu-1 {
    display: none;
  }
}
.div-nav ul {
  padding: 0;
  margin: 5px 0 0 0;
}
.div-nav ul li {
  padding: 0;
  margin: 0;
  list-style: none;
  display: inline;
}
.div-nav ul li > a {
  text-transform: uppercase;
  letter-spacing: 1px;
  font-size: 14px;
}
.div-nav ul li a {
  padding: 30px 15px;
  color: rgba(255, 255, 255, 0.7);
  -webkit-transition: 0.5s;
  -o-transition: 0.5s;
  transition: 0.5s;
}
.scrolled .div-nav ul li a {
  color: rgba(0, 0, 0, 0.7);
}
.div-nav ul li a:hover, .div-nav ul li a:focus, .div-nav ul li a:active {
  color: white;
}
.scrolled .div-nav ul li a:hover, .scrolled .div-nav ul li a:focus, .scrolled .div-nav ul li a:active {
  color: black;
}
.div-nav ul li.has-dropdown {
  position: relative;
}
.div-nav ul li.has-dropdown .dropdown {
  width: 140px;
  -webkit-box-shadow: 0px 14px 16px -9px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 0px 14px 16px -9px rgba(0, 0, 0, 0.75);
  box-shadow: 0px 14px 16px -9px rgba(0, 0, 0, 0.75);
  z-index: 1002;
  visibility: hidden;
  opacity: 0;
  position: absolute;
  top: 40px;
  left: 0;
  text-align: left;
  background: #ea272d;
  padding: 20px;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  -ms-border-radius: 4px;
  border-radius: 4px;
  -webkit-transition: 0s;
  -o-transition: 0s;
  transition: 0s;
}
.div-nav ul li.has-dropdown .dropdown:before {
  bottom: 100%;
  left: 40px;
  border: solid transparent;
  content: " ";
  height: 0;
  width: 0;
  position: absolute;
  pointer-events: none;
  border-bottom-color: #ea272d;
  border-width: 8px;
  margin-left: -8px;
}
.div-nav ul li.has-dropdown .dropdown li {
  display: block;
  margin-bottom: 7px;
}
.div-nav ul li.has-dropdown .dropdown li:last-child {
  margin-bottom: 0;
}
.div-nav ul li.has-dropdown .dropdown li a {
  font-size: 17px;
  padding: 2px 0;
  display: block;
  color: white;
  line-height: 1.2;
  text-transform: none;
  letter-spacing: 0;
}
.div-nav ul li.has-dropdown .dropdown li a:hover {
  color: #fff;
}
.div-nav ul li.has-dropdown:hover a, .div-nav ul li.has-dropdown:focus a {
  color: #fff;
}
.scrolled .div-nav ul li.has-dropdown:hover a, .scrolled .div-nav ul li.has-dropdown:focus a {
  color: rgba(0, 0, 0, 0.7);
}
.div-nav ul li.active > a {
  color: #fff;
  position: relative;
}
.scrolled .div-nav ul li.active > a {
  color: rgba(0, 0, 0, 0.7);
}
.div-nav ul li.active > a:after {
  position: absolute;
  bottom: 25px;
  left: 0;
  right: 0;
  content: '';
  width: 30px;
  height: 2px;
  background: #ea272d;
  margin: 0 auto;
}

#div-counter,
.div-bg,
#div-gallery .div-bg-img,
#div-gallery .div-gallery_big,
.product {
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  position: relative;
}

/*******HEADER*********/
#div-header {
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  position: relative;
}
@media screen and (max-width: 768px) {
  #div-header {
    background-position: center center;
    background-attachment: scroll;
  }
}
#div-header .overlay {
  z-index: 0;
  position: absolute;
  bottom: 0;
  top: 0;
  left: 0;
  right: 0;
  background: rgba(0, 0, 0, 0.5);
}

@media screen and (max-width: 768px) {
  #div-header,
  .div-cover {
    padding: 3em 0;
  }
}
#div-header .display-t,
.div-cover .display-t {
  display: table;
  width: 100%;
}
@media screen and (max-width: 768px) {
  #div-header .display-t,
  .div-cover .display-t {
    padding: 3em 0;
  }
}
#div-header .display-tc,
.div-cover .display-tc {
  display: table-cell !important;
  vertical-align: middle;
  width: 100%;
}
@media screen and (max-width: 768px) {
  #div-header .display-tc,
  .div-cover .display-tc {
    padding: 3em 0;
  }
}
#div-header .display-tc h1, #div-header .display-tc h2,
.div-cover .display-tc h1,
.div-cover .display-tc h2 {
  margin: 0;
  padding: 0;
  color: white;
}
#div-header .display-tc h1,
.div-cover .display-tc h1 {
  margin-bottom: 0px;
  font-size: 74px;
  font-size: 80px;
  font-weight: 700;
}
@media screen and (max-width: 768px) {
  #div-header .display-tc h1,
  .div-cover .display-tc h1 {
    font-size: 42px;
    line-height: 50px;
  }
}
#div-header .display-tc h1 em,
.div-cover .display-tc h1 em {
  font-style: italic;
  font-weight: 600;
}
#div-header .display-tc h2,
.div-cover .display-tc h2 {
  font-size: 30px;
  line-height: 1.5;
  margin-bottom: 30px;
  font-style: italic;
}
#div-header .display-tc h2 a,
.div-cover .display-tc h2 a {
  display: -moz-inline-stack;
  display: inline-block;
  zoom: 1;
  *display: inline;
  color: #fff;
  position: relative;
}
#div-header .display-tc h2 a:before,
.div-cover .display-tc h2 a:before {
  background: #ea272d;
  content: "";
  position: absolute;
  bottom: 0;
  height: 2px;
  width: 100%;
}
#div-header .display-tc .btn,
.div-cover .display-tc .btn {
  padding: 10px 30px;
  color: #fff;
  border: none !important;
  font-size: 18px;
}
@media screen and (max-width: 768px) {
  #div-header .display-tc .btn,
  .div-cover .display-tc .btn {
    width: 80%;
    margin: 0 auto;
  }
}
#div-header .display-tc .btn.btn-learn,
.div-cover .display-tc .btn.btn-learn {
  background: #fee856;
  border: none;
  color: #000 !important;
}
#div-header .display-tc .btn.btn-learn:hover, #div-header .display-tc .btn.btn-learn:focus,
.div-cover .display-tc .btn.btn-learn:hover,
.div-cover .display-tc .btn.btn-learn:focus {
  background: rgba(254, 232, 86, 0.9) !important;
  color: #000 !important;
}
#div-header .display-tc .btn:hover, #div-header .display-tc .btn:focus,
.div-cover .display-tc .btn:hover,
.div-cover .display-tc .btn:focus {
  color: #fff !important;
}
#div-header .display-tc .btn.btn-demo,
.div-cover .display-tc .btn.btn-demo {
  background: #ea272d;
  border: none;
}
#div-header .display-tc .btn.btn-demo:hover, #div-header .display-tc .btn.btn-demo:focus,
.div-cover .display-tc .btn.btn-demo:hover,
.div-cover .display-tc .btn.btn-demo:focus {
  background: rgba(234, 39, 45, 0.9) !important;
  color: #fff !important;
}
#div-header .display-tc .btn:hover,
.div-cover .display-tc .btn:hover {
  background: #ea272d !important;
  -webkit-box-shadow: 0px 14px 30px -15px rgba(0, 0, 0, 0.75) !important;
  -moz-box-shadow: 0px 14px 30px -15px rgba(0, 0, 0, 0.75) !important;
  box-shadow: 0px 14px 30px -15px rgba(0, 0, 0, 0.75) !important;
}
#div-header .display-tc .form-inline .form-group,
.div-cover .display-tc .form-inline .form-group {
  width: 100% !important;
  margin-bottom: 10px;
}
#div-header .display-tc .form-inline .form-group .form-control,
.div-cover .display-tc .form-inline .form-group .form-control {
  width: 100%;
  background: #fff;
  border: none;
}

.div-section {
  padding: 7em 0;
}
@media screen and (max-width: 480px) {
  .div-section {
    padding: 3em 0;
  }
}
.div-section p {
  color: rgba(255, 255, 255, 0.3);
  font-size: 18px;
  line-height: 1.5;
}

.section-heading {
  width: 100%;
  float: left;
  margin-bottom: 50px;
}
.section-heading h2 {
  font-style: 40px;
  color: #fff;
  font-family: "Satisfy", cursive;
}

#div-news .img-wrap img {
  margin-bottom: 30px;
}
@media screen and (max-width: 992px) {
  #div-news .img-wrap img {
    max-width: 100%;
  }
}

#div-featured-menu .div-heading h2, #div-gallery .div-heading h2, #div-reservation-form .div-heading h2 {
  color: #fff;
  font-family: "Satisfy", cursive;
}
#div-featured-menu .div-item-wrap, #div-gallery .div-item-wrap, #div-reservation-form .div-item-wrap {
  padding-left: 20px;
  padding-right: 20px;
}
#div-featured-menu .div-item, #div-gallery .div-item, #div-reservation-form .div-item {
  float: left;
  width: 100%;
  backround: #fff;
}
#div-featured-menu .div-item.margin_top, #div-gallery .div-item.margin_top, #div-reservation-form .div-item.margin_top {
  margin-top: 150px;
}
@media screen and (max-width: 480px) {
  #div-featured-menu .div-item.margin_top, #div-gallery .div-item.margin_top, #div-reservation-form .div-item.margin_top {
    margin-top: 0;
  }
}
#div-featured-menu .div-item h3, #div-gallery .div-item h3, #div-reservation-form .div-item h3 {
  margin-bottom: 0px;
  color: #fff;
}
#div-featured-menu .div-item .div-price, #div-gallery .div-item .div-price, #div-reservation-form .div-item .div-price {
  font-style: 20px;
  color: #fee856;
  margin-bottom: 20px;
  font-size: 30px;
  display: block;
}
#div-featured-menu .div-item img, #div-gallery .div-item img, #div-reservation-form .div-item img {
  margin-bottom: 30px;
}

#div-gallery .div-gallery_item {
  padding-left: 10px;
  padding-right: 10px;
  overflow: hidden;
}
#div-gallery .div-bg-img, #div-gallery .div-gallery_big {
  float: left;
  margin-bottom: 20px;
  background-size: cover;
  cursor: zoom-in;
}
#div-gallery .div-bg-img {
  height: 200px;
}
#div-gallery .div-gallery_big {
  height: 420px;
}
@media screen and (max-width: 768px) {
  #div-gallery .div-gallery_big {
    height: 200px;
  }
}

#form-wrap {
  border: 4px solid rgba(255, 255, 255, 0.04);
  padding: 30px;
}
#form-wrap .form-group:last-child {
  margin-bottom: 0 !important;
}

#div-featured-testimony {
  border: none !important;
}
#div-featured-testimony .div-heading {
  margin-bottom: 170px;
}
@media screen and (max-width: 768px) {
  #div-featured-testimony .div-heading {
    margin-bottom: 50px;
  }
}
#div-featured-testimony .div-heading h2 {
  color: #fff;
  font-family: "Satisfy", cursive;
}
#div-featured-testimony .img-to-responsive img {
  margin-bottom: 20px;
}
@media screen and (max-width: 768px) {
  #div-featured-testimony .img-to-responsive img {
    max-width: 100%;
  }
}
#div-featured-testimony blockquote {
  border: none;
  margin-left: 300px;
}
@media screen and (max-width: 992px) {
  #div-featured-testimony blockquote {
    margin-top: 0;
  }
}
#div-featured-testimony blockquote p {
  font-size: 40px;
  line-height: 50px;
  font-style: italic;
  font-weight: 300;
  color: #fff;
}
@media screen and (max-width: 992px) {
  #div-featured-testimony blockquote p {
    font-size: 30px;
    line-height: 40px;
  }
}
#div-featured-testimony blockquote .author {
  color: rgba(255, 255, 255, 0.7);
  font-size: 30px;
}
@media screen and (max-width: 992px) {
  #div-featured-testimony blockquote .author {
    color: rgba(255, 255, 255, 0.3);
  }
}

#div-slider .div-heading h2 {
  font-family: "Satisfy", cursive;
  color: #fff;
}

#div-slider-wrwap {
  height: 500px !important;
  background: url(../images/loader.gif) no-repeat center center;
}
#div-slider-wrwap .btn {
  font-size: 24px;
}
#div-slider-wrwap .btn.btn-primary {
  padding: 14px 30px !important;
}
#div-slider-wrwap .flexslider {
  border: none;
  z-index: 1;
  margin-bottom: 0;
}
#div-slider-wrwap .flexslider .slides {
  position: relative;
}
#div-slider-wrwap .flexslider .slides li {
  background-repeat: no-repeat;
  background-size: cover;
  background-position: top center;
  height: 600px !important;
  position: relative;
}
#div-slider-wrwap .flexslider .flex-control-nav {
  top: -30px !important;
  z-index: 1000;
  right: 0;
  float: right;
  width: auto;
}
#div-slider-wrwap .flexslider .flex-control-nav li {
  margin-bottom: 10px;
}
#div-slider-wrwap .flexslider .flex-control-nav li a {
  background: #ea272d;
  box-shadow: none;
  width: 12px;
  height: 12px;
  cursor: pointer;
  border: 2px solid transparent;
}
#div-slider-wrwap .flexslider .flex-control-nav li a.flex-active {
  cursor: pointer;
  background: transparent;
  border: 2px solid #fff;
}
#div-slider-wrwap .flexslider .flex-direction-nav {
  display: none;
}
#div-slider-wrwap .flexslider .slider-text-bg {
  margin-left: -150px;
}
@media screen and (max-width: 992px) {
  #div-slider-wrwap .flexslider .slider-text-bg {
    margin-left: 0px;
  }
}
#div-slider-wrwap .flexslider .slider-text-bg .desc {
  margin-top: 9em;
  padding: 2em;
  background: transparent;
}
@media screen and (max-width: 992px) {
  #div-slider-wrwap .flexslider .slider-text-bg .desc {
    background: #000;
  }
}
#div-slider-wrwap .flexslider .slider-text-bg .desc h2 {
  color: #fff !important;
}
@media screen and (max-width: 768px) {
  #div-slider-wrwap .flexslider .slider-text-bg .desc p {
    display: none;
  }
}
#div-slider-wrwap .flexslider .slider-text,
#div-slider-wrwap .flexslider .slider-text-bg {
  display: table;
  opacity: 0;
  height: 600px;
  z-index: 9;
}
#div-slider-wrwap .flexslider .slider-text > .slider-text-inner,
#div-slider-wrwap .flexslider .slider-text-bg > .slider-text-inner {
  display: table-cell;
  vertical-align: middle;
  min-height: 500px;
}

.div-bg-section {
  background: rgba(234, 39, 45, 0.03);
}

#div-slider,
#div-news,
#div-wireframe,
#div-started,
#div-portfolio,
#div-blog,
#div-content-section,
#div-contact,
#div-footer {
  padding: 7em 0;
  clear: both;
}
@media screen and (max-width: 768px) {
  #div-slider,
  #div-news,
  #div-wireframe,
  #div-started,
  #div-portfolio,
  #div-blog,
  #div-content-section,
  #div-contact,
  #div-footer {
    padding: 3em 0;
  }
}

#div-content {
  border-bottom: 2px solid rgba(234, 39, 45, 0.1);
}

#div-started {
  border-bottom: none;
}

.div-social-icons {
  margin: 0;
  padding: 0;
}
.div-social-icons li {
  margin: 0;
  padding: 0;
  list-style: none;
  display: -moz-inline-stack;
  display: inline-block;
  zoom: 1;
  *display: inline;
}
.div-social-icons li a {
  display: -moz-inline-stack;
  display: inline-block;
  zoom: 1;
  *display: inline;
  color: #ea272d;
  padding-left: 10px;
  padding-right: 10px;
}
.div-social-icons li a i {
  font-size: 20px;
}

#div-started {
  background-size: cover;
  background-repeat: no-repeat;
  position: relative;
  float: left;
  width: 100%;
}
#div-started .overlay {
  z-index: 0;
  position: absolute;
  bottom: 0;
  top: 0;
  left: 0;
  right: 0;
  background: rgba(0, 0, 0, 0.7);
}
#div-started .div-heading {
  margin-bottom: 0;
}
#div-started .div-heading h2 {
  font-family: "Satisfy", cursive;
  color: #fff;
  margin-bottom: 20px !important;
}

.member {
  width: 100%;
  float: left;
}
.member .author {
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  position: relative;
  height: 400px;
}
.member .desc {
  width: 80%;
  margin: 0 auto;
  margin-top: 4em;
}
.member .desc h3 {
  margin-bottom: 10px;
}
.member .desc span {
  display: block;
  margin-bottom: 20px;
  font-size: 14px;
  color: rgba(0, 0, 0, 0.3);
}

#div-timeline {
  padding: 7em 0;
}
@media screen and (max-width: 768px) {
  #div-timeline {
    padding: 3em 0;
  }
}
#div-timeline .timeline {
  list-style: none;
  padding: 20px 0 20px;
  position: relative;
}
#div-timeline .timeline:before {
  top: 20px;
  bottom: 0;
  position: absolute;
  content: " ";
  width: 2px;
  background: #434343;
  left: 50%;
  margin-left: 0px;
}
@media screen and (max-width: 768px) {
  #div-timeline .timeline:before {
    margin-left: -64px;
  }
}
@media screen and (max-width: 480px) {
  #div-timeline .timeline:before {
    margin-left: -64px;
  }
}
@media screen and (max-width: 768px) {
  #div-timeline .timeline .timeline-heading {
    margin-bottom: 30px;
  }
}
#div-timeline .timeline .timeline-heading > div h3 {
  display: inline-block;
  padding: 7px 15px;
  font-size: 18px;
  text-transform: uppercase;
  letter-spacing: 5px;
  font-weight: bold;
  color: #fff;
  position: relative;
  z-index: 99;
  background: #434343;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  -ms-border-radius: 4px;
  border-radius: 4px;
}
@media screen and (max-width: 768px) {
  #div-timeline .timeline .timeline-heading > div h3 {
    float: left;
    margin-bottom: 0;
  }
}
#div-timeline .timeline .timeline-heading h3 {
  color: #fff;
}
#div-timeline .timeline > li {
  margin-bottom: 20px;
  position: relative;
}
@media screen and (max-width: 768px) {
  #div-timeline .timeline > li {
    margin-bottom: 4em;
  }
}
#div-timeline .timeline > li:before, #div-timeline .timeline > li:after {
  content: " ";
  display: table;
}
#div-timeline .timeline > li:after {
  clear: both;
}
#div-timeline .timeline > li > .timeline-panel {
  width: 45%;
  float: left;
  margin-bottom: 0;
  position: relative;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  -ms-border-radius: 4px;
  border-radius: 4px;
}
@media screen and (max-width: 768px) {
  #div-timeline .timeline > li > .timeline-panel {
    width: 85% !important;
  }
}
@media screen and (max-width: 480px) {
  #div-timeline .timeline > li > .timeline-panel {
    width: 75% !important;
  }
  #div-timeline .timeline > li > .timeline-panel:before {
    top: 30px;
  }
  #div-timeline .timeline > li > .timeline-panel:after {
    top: 31px;
  }
}
#div-timeline .timeline > li > .timeline-badge {
  color: #fff;
  width: 44px;
  height: 44px;
  line-height: 50px;
  font-size: 1.4em;
  text-align: center;
  position: absolute;
  top: 40px;
  left: 50%;
  margin-left: -21px;
  background-color: #ea272d;
  z-index: 100;
  display: table;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  border-radius: 50%;
}
@media screen and (max-width: 768px) {
  #div-timeline .timeline > li > .timeline-badge {
    margin-left: -10px !important;
  }
}
@media screen and (max-width: 992px) {
  #div-timeline .timeline > li > .timeline-badge {
    margin-left: -10px !important;
  }
}
#div-timeline .timeline > li > .timeline-badge i {
  display: table-cell;
  vertical-align: middle;
  height: 44px;
  font-size: 18px;
}
#div-timeline .timeline > li.timeline-unverted {
  text-align: right;
}
@media screen and (max-width: 768px) {
  #div-timeline .timeline > li.timeline-unverted {
    text-align: left;
  }
}
#div-timeline .timeline > li.timeline-inverted > .timeline-panel {
  float: right;
}
#div-timeline .timeline > li.timeline-inverted > .timeline-panel:before {
  border-left-width: 0;
  border-right-width: 15px;
  left: -15px;
  right: auto;
}
#div-timeline .timeline > li.timeline-inverted > .timeline-panel:after {
  border-left-width: 0;
  border-right-width: 14px;
  left: -14px;
  right: auto;
}
#div-timeline .timeline-title {
  margin-top: 0;
}
#div-timeline .company {
  display: block;
  margin-bottom: 20px;
  letter-spacing: 2px;
  font-weight: bold;
}
#div-timeline .timeline-body > p,
#div-timeline .timeline-body > ul {
  margin-bottom: 0;
}
#div-timeline .timeline-body > p + p {
  margin-top: 5px;
}
@media (max-width: 992px) {
  #div-timeline ul.timeline:before {
    left: 90px;
  }
  #div-timeline ul.timeline > li > .timeline-panel {
    width: calc(100% - 200px);
    width: -moz-calc(100% - 200px);
    width: -webkit-calc(100% - 200px);
  }
  #div-timeline ul.timeline > li > .timeline-badge {
    left: 15px;
    margin-left: 0;
    top: 16px;
  }
  #div-timeline ul.timeline > li > .timeline-panel {
    float: right;
  }
  #div-timeline ul.timeline > li > .timeline-panel:before {
    border-left-width: 0;
    border-right-width: 15px;
    left: -15px;
    right: auto;
  }
  #div-timeline ul.timeline > li > .timeline-panel:after {
    border-left-width: 0;
    border-right-width: 14px;
    left: -14px;
    right: auto;
  }
}

#div-blog .div-heading, #div-contact .div-heading {
  margin-bottom: 170px;
}
@media screen and (max-width: 768px) {
  #div-blog .div-heading, #div-contact .div-heading {
    margin-bottom: 50px;
  }
}
#div-blog .div-heading h2, #div-contact .div-heading h2 {
  font-family: "Satisfy", cursive;
  color: #fff;
}

.div-blog {
  width: 100%;
  float: left;
  margin-bottom: 40px;
}
@media screen and (max-width: 768px) {
  .div-blog {
    width: 100%;
  }
}
.div-blog .blog-bg {
  display: block;
  width: 100%;
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  position: relative;
  height: 300px;
}
@media screen and (max-width: 768px) {
  .div-blog .blog-bg {
    height: 400px;
  }
}
.div-blog .blog-text {
  margin-bottom: 30px;
  position: relative;
  width: 100%;
  padding: 30px;
  float: left;
  background: rgba(255, 255, 255, 0.03);
  -webkit-box-shadow: 0px 2px 5px 0px rgba(0, 0, 0, 0.06);
  -moz-box-shadow: 0px 2px 5px 0px rgba(0, 0, 0, 0.06);
  box-shadow: 0px 2px 5px 0px rgba(0, 0, 0, 0.06);
  -webkit-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
}
.div-blog .blog-text span {
  display: inline-block;
  margin-bottom: 20px;
  font-size: 14px !important;
  color: rgba(0, 0, 0, 0.3);
}
.div-blog .blog-text .stuff {
  margin: 0;
  padding: 0;
  border-top: 1px solid rgba(0, 0, 0, 0.05);
  padding-top: 20px;
}
.div-blog .blog-text .stuff li {
  list-style: none;
  display: inline-block;
  margin-left: 10px;
  color: #fff;
}
.div-blog .blog-text .stuff li:first-child {
  margin-left: 0;
}
.div-blog .blog-text .stuff li:last-child {
  float: right;
}
.div-blog .blog-text .stuff li:last-child i {
  padding-right: 0;
  padding-left: 10px;
}
.div-blog .blog-text .stuff li i {
  margin-top: 7px;
  margin-right: 5px;
  color: rgba(255, 255, 255, 0.5);
  float: left;
  font-size: 14px;
  padding-right: 5px;
}
.div-blog .blog-text h3 {
  font-size: 24px;
  margin-bottom: 20px;
  line-height: 1.5;
}
.div-blog .blog-text h3 a {
  color: white;
}

.div-portfolio {
  width: 100%;
  float: left;
  margin-bottom: 40px;
}
.div-portfolio > a {
  width: 100%;
  float: left;
  -webkit-box-shadow: 0px 2px 5px 0px rgba(0, 0, 0, 0.06);
  -moz-box-shadow: 0px 2px 5px 0px rgba(0, 0, 0, 0.06);
  box-shadow: 0px 2px 5px 0px rgba(0, 0, 0, 0.06);
}
.div-portfolio > a:hover {
  webkit-box-shadow: 0px 8px 16px -4px rgba(0, 0, 0, 0.13);
  -moz-box-shadow: 0px 8px 16px -4px rgba(0, 0, 0, 0.13);
  box-shadow: 0px 8px 16px -4px rgba(0, 0, 0, 0.13);
}
.div-portfolio .portfolio-entry {
  width: 100%;
  float: left;
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  position: relative;
  height: 300px;
}
@media screen and (max-width: 768px) {
  .div-portfolio .portfolio-entry {
    height: 400px;
  }
}
.div-portfolio .portfolio-text {
  width: 100%;
  float: left;
  padding: 20px;
}
.div-portfolio .portfolio-text .stuff {
  margin: 0;
  padding: 0;
  border-top: 1px solid rgba(0, 0, 0, 0.05);
  padding-top: 20px;
}
.div-portfolio .portfolio-text .stuff li {
  list-style: none;
  display: inline-block;
  margin-left: 10px;
  color: rgba(0, 0, 0, 0.3);
}
.div-portfolio .portfolio-text .stuff li:first-child {
  margin-left: 0;
}
.div-portfolio .portfolio-text .stuff li:last-child {
  float: right;
}
.div-portfolio .portfolio-text .stuff li i {
  font-size: 14px;
  padding-right: 5px;
}

.div-team {
  position: relative;
  background: #fff;
  padding: 30px;
  border-radius: 5px;
  margin-bottom: 30px;
  -webkit-box-shadow: 0px 2px 5px 0px rgba(0, 0, 0, 0.06);
  -moz-box-shadow: 0px 2px 5px 0px rgba(0, 0, 0, 0.06);
  box-shadow: 0px 2px 5px 0px rgba(0, 0, 0, 0.06);
}
@media screen and (max-width: 768px) {
  .div-team {
    border-right: 0;
    margin-bottom: 80px;
  }
}
.div-team h2 {
  font-size: 16px;
  letter-spacing: 2px;
  text-transform: uppercase;
  font-weight: bold;
  margin-bottom: 50px;
}
.div-team figure {
  position: relative;
  top: 0px;
  background-size: cover;
  margin-bottom: 20px;
}
.div-team figure img {
  width: 150px;
  height: 150px;
  border: 10px solid #fff;
  background-size: cover;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  border-radius: 50%;
}
.div-team > div {
  padding: 30px 30px 0 30px;
}
.div-team > div h3 {
  margin-bottom: 0;
  font-size: 20px;
  color: #ea272d;
}
.div-team > div .position {
  color: #d9d9d9;
  margin-bottom: 30px;
}
.div-team > div,
.div-team blockquote {
  border: none;
  padding: 0;
  margin-bottom: 20px;
}
.div-team > div p,
.div-team blockquote p {
  font-size: 16px;
  line-height: 1.5;
  color: #555555;
}
.div-team span {
  color: #b3b3b3;
}

#div-footer .div-footer-links {
  padding: 0;
  margin: 0;
}
@media screen and (max-width: 768px) {
  #div-footer .div-footer-links {
    margin-bottom: 30px;
  }
}
#div-footer .div-footer-links li {
  padding: 00;
  margin: 0;
  list-style: none;
  color: rgba(255, 255, 255, 0.5);
}
#div-footer .div-footer-links li a {
  color: rgba(255, 255, 255, 0.5);
  text-decoration: none;
}
#div-footer .div-footer-links li a:hover {
  text-decoration: underline;
  color: #ea272d;
}
#div-footer .div-widget {
  margin-bottom: 30px;
}
@media screen and (max-width: 768px) {
  #div-footer .div-widget {
    text-align: left;
  }
}
#div-footer .div-widget h4 {
  color: #fff;
  text-transform: uppercase;
  margin-bottom: 20px;
  font-size: 14px;
  letter-spacing: 1px;
}
#div-footer .copyright .block {
  display: block;
}

.contact-info {
  margin-bottom: 4em;
  padding: 0;
}
.contact-info li {
  list-style: none;
  margin: 0 0 20px 0;
  position: relative;
  padding-left: 40px;
  color: #fff;
}
.contact-info li i {
  position: absolute;
  top: .3em;
  left: 0;
  font-size: 22px;
  color: rgba(255, 255, 255, 0.3);
}
.contact-info li a {
  color: #fff;
}

#div-offcanvas {
  position: absolute;
  z-index: 1901;
  width: 270px;
  background: #000 url(../images/bg.png) repeat;
  top: 0;
  right: 0;
  top: 0;
  bottom: 0;
  padding: 75px 40px 40px 40px;
  overflow-y: auto;
  display: none;
  -moz-transform: translateX(270px);
  -webkit-transform: translateX(270px);
  -ms-transform: translateX(270px);
  -o-transform: translateX(270px);
  transform: translateX(270px);
  -webkit-transition: 0.5s;
  -o-transition: 0.5s;
  transition: 0.5s;
}
@media (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi) {
  #div-offcanvas {
    background: #000 url(../images/bg.png) repeat;
  }
}
@media screen and (max-width: 768px) {
  #div-offcanvas {
    display: block;
  }
}
.offcanvas #div-offcanvas {
  -moz-transform: translateX(0px);
  -webkit-transform: translateX(0px);
  -ms-transform: translateX(0px);
  -o-transform: translateX(0px);
  transform: translateX(0px);
}
#div-offcanvas a {
  color: rgba(255, 255, 255, 0.5);
}
#div-offcanvas a:hover {
  color: rgba(255, 255, 255, 0.8);
}
#div-offcanvas ul {
  padding: 0;
  margin: 0;
}
#div-offcanvas ul li {
  padding: 0;
  margin: 0;
  list-style: none;
}
#div-offcanvas ul li > ul {
  padding-left: 20px;
  display: none;
}
#div-offcanvas ul li.offcanvas-has-dropdown > a {
  display: block;
  position: relative;
}
#div-offcanvas ul li.offcanvas-has-dropdown > a:after {
  position: absolute;
  right: 0px;
  font-family: 'icomoon';
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  content: "\ebfc";
  font-size: 20px;
  color: rgba(255, 255, 255, 0.2);
  -webkit-transition: 0.5s;
  -o-transition: 0.5s;
  transition: 0.5s;
}
#div-offcanvas ul li.offcanvas-has-dropdown.active a:after {
  -webkit-transform: rotate(-180deg);
  -moz-transform: rotate(-180deg);
  -ms-transform: rotate(-180deg);
  -o-transform: rotate(-180deg);
  transform: rotate(-180deg);
}

.uppercase {
  font-size: 14px;
  color: #000;
  margin-bottom: 10px;
  font-weight: 700;
  text-transform: uppercase;
}

.gototop {
  position: fixed;
  bottom: 20px;
  right: 20px;
  z-index: 999;
  opacity: 0;
  visibility: hidden;
  -webkit-transition: 0.5s;
  -o-transition: 0.5s;
  transition: 0.5s;
}
.gototop.active {
  opacity: 1;
  visibility: visible;
}
.gototop a {
  width: 50px;
  height: 50px;
  display: table;
  background: rgba(0, 0, 0, 0.5);
  color: #fff;
  text-align: center;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  -ms-border-radius: 4px;
  border-radius: 4px;
}
.gototop a i {
  height: 50px;
  display: table-cell;
  vertical-align: middle;
}
.gototop a:hover, .gototop a:active, .gototop a:focus {
  text-decoration: none;
  outline: none;
}

.div-nav-toggle {
  width: 25px;
  height: 25px;
  cursor: pointer;
  text-decoration: none;
  top: 25px !important;
}
.div-nav-toggle.active i::before, .div-nav-toggle.active i::after {
  background: #444;
}
.div-nav-toggle:hover, .div-nav-toggle:focus, .div-nav-toggle:active {
  outline: none;
  border-bottom: none !important;
}
.div-nav-toggle i {
  position: relative;
  display: inline-block;
  width: 25px;
  height: 2px;
  color: #252525;
  font: bold 14px/.4 Helvetica;
  text-transform: uppercase;
  text-indent: -55px;
  background: #252525;
  transition: all .2s ease-out;
}
.div-nav-toggle i::before, .div-nav-toggle i::after {
  content: '';
  width: 25px;
  height: 2px;
  background: #252525;
  position: absolute;
  left: 0;
  transition: all .2s ease-out;
}
.div-nav-toggle.div-nav-white > i {
  color: #fff;
  background: #fff;
}
.div-nav-toggle.div-nav-white > i::before, .div-nav-toggle.div-nav-white > i::after {
  background: #fff;
}

.div-nav-toggle i::before {
  top: -7px;
}

.div-nav-toggle i::after {
  bottom: -7px;
}

.div-nav-toggle:hover i::before {
  top: -10px;
}

.div-nav-toggle:hover i::after {
  bottom: -10px;
}

.div-nav-toggle.active i {
  background: transparent;
}

.div-nav-toggle.active i::before {
  top: 0;
  -webkit-transform: rotateZ(45deg);
  -moz-transform: rotateZ(45deg);
  -ms-transform: rotateZ(45deg);
  -o-transform: rotateZ(45deg);
  transform: rotateZ(45deg);
  background: #fff;
}

.div-nav-toggle.active i::after {
  bottom: 0;
  -webkit-transform: rotateZ(-45deg);
  -moz-transform: rotateZ(-45deg);
  -ms-transform: rotateZ(-45deg);
  -o-transform: rotateZ(-45deg);
  transform: rotateZ(-45deg);
  background: #fff;
}

.div-nav-toggle {
  position: absolute;
  right: 0px;
  top: 65px;
  z-index: 21;
  padding: 6px 0 0 0;
  display: block;
  margin: 0 auto;
  display: none;
  height: 44px;
  width: 44px;
  z-index: 2001;
  border-bottom: none !important;
}
@media screen and (max-width: 768px) {
  .div-nav-toggle {
    display: block;
  }
}

.btn {
  margin-right: 4px;
  margin-bottom: 4px;
  font-family: "Cormorant Garamond", Georgia, serif;
  font-size: 16px;
  font-weight: 400;
  -webkit-border-radius: 30px;
  -moz-border-radius: 30px;
  -ms-border-radius: 30px;
  border-radius: 30px;
  -webkit-transition: 0.5s;
  -o-transition: 0.5s;
  transition: 0.5s;
  padding: 8px 20px;
}
.btn.btn-md {
  padding: 8px 20px !important;
}
.btn.btn-lg {
  padding: 10px 36px !important;
}
.btn:hover, .btn:active, .btn:focus {
  box-shadow: none !important;
  outline: none !important;
}

.btn-primary {
  background: #ea272d;
  color: #fff;
  border: 2px solid #ea272d;
}
.btn-primary:hover, .btn-primary:focus, .btn-primary:active {
  background: #ec3e44 !important;
  border-color: #ec3e44 !important;
}
.btn-primary.btn-outline {
  -webkit-border-radius: 0px;
  -moz-border-radius: 0px;
  -ms-border-radius: 0px;
  border-radius: 0px;
  background: transparent;
  color: #fff;
  text-transform: uppercase;
  font-size: 14px !important;
  letter-spacing: 1px;
  border: 2px solid #ea272d;
}
.btn-primary.btn-outline:hover, .btn-primary.btn-outline:focus, .btn-primary.btn-outline:active {
  background: #ea272d;
  color: #fff;
}

.btn-success {
  background: #5cb85c;
  color: #fff;
  border: 2px solid #5cb85c;
}
.btn-success:hover, .btn-success:focus, .btn-success:active {
  background: #4cae4c !important;
  border-color: #4cae4c !important;
}
.btn-success.btn-outline {
  background: transparent;
  color: #5cb85c;
  border: 2px solid #5cb85c;
}
.btn-success.btn-outline:hover, .btn-success.btn-outline:focus, .btn-success.btn-outline:active {
  background: #5cb85c;
  color: #fff;
}

.btn-info {
  background: #5bc0de;
  color: #fff;
  border: 2px solid #5bc0de;
}
.btn-info:hover, .btn-info:focus, .btn-info:active {
  background: #46b8da !important;
  border-color: #46b8da !important;
}
.btn-info.btn-outline {
  background: transparent;
  color: #5bc0de;
  border: 2px solid #5bc0de;
}
.btn-info.btn-outline:hover, .btn-info.btn-outline:focus, .btn-info.btn-outline:active {
  background: #5bc0de;
  color: #fff;
}

.btn-warning {
  background: #f0ad4e;
  color: #fff;
  border: 2px solid #f0ad4e;
}
.btn-warning:hover, .btn-warning:focus, .btn-warning:active {
  background: #eea236 !important;
  border-color: #eea236 !important;
}
.btn-warning.btn-outline {
  background: transparent;
  color: #f0ad4e;
  border: 2px solid #f0ad4e;
}
.btn-warning.btn-outline:hover, .btn-warning.btn-outline:focus, .btn-warning.btn-outline:active {
  background: #f0ad4e;
  color: #fff;
}

.btn-danger {
  background: #d9534f;
  color: #fff;
  border: 2px solid #d9534f;
}
.btn-danger:hover, .btn-danger:focus, .btn-danger:active {
  background: #d43f3a !important;
  border-color: #d43f3a !important;
}
.btn-danger.btn-outline {
  background: transparent;
  color: #d9534f;
  border: 2px solid #d9534f;
}
.btn-danger.btn-outline:hover, .btn-danger.btn-outline:focus, .btn-danger.btn-outline:active {
  background: #d9534f;
  color: #fff;
}

.btn-outline {
  background: none;
  border: 2px solid gray;
  font-size: 16px;
  -webkit-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
}
.btn-outline:hover, .btn-outline:focus, .btn-outline:active {
  box-shadow: none;
}

.btn.with-arrow {
  position: relative;
  -webkit-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
}
.btn.with-arrow i {
  visibility: hidden;
  opacity: 0;
  position: absolute;
  right: 0px;
  top: 50%;
  margin-top: -8px;
  -webkit-transition: 0.2s;
  -o-transition: 0.2s;
  transition: 0.2s;
}
.btn.with-arrow:hover {
  padding-right: 50px;
}
.btn.with-arrow:hover i {
  color: #fff;
  right: 18px;
  visibility: visible;
  opacity: 1;
}

.form-group {
  margin-bottom: 30px !important;
}
.form-group label {
  color: #fff;
  text-transform: uppercase;
  letter-spacing: 1px;
}

.form-control {
  box-shadow: none;
  background: transparent;
  border: 2px solid rgba(255, 255, 255, 0.3);
  height: 54px;
  font-size: 20px;
  font-weight: 300;
  font-family: "Satisfy", cursive;
  color: #fff;
}
.form-control:active, .form-control:focus {
  outline: none;
  box-shadow: none;
  border-color: #fff;
}

textarea {
  resize: vertical;
  overflow: auto;
}

.row-pb-md {
  padding-bottom: 4em !important;
}

.row-pb-sm {
  padding-bottom: 2em !important;
}

.nopadding {
  padding: 0 !important;
  margin: 0 !important;
}

.div-loader {
  position: fixed;
  left: 0px;
  top: 0px;
  width: 100%;
  height: 100%;
  z-index: 9999;
  background: url(../images/loader.gif) center no-repeat #fff;
}

.js .animate-box {
  opacity: 0;
}

@media screen and (max-width: 480px) {
  .col-xxs-12 {
    float: none;
    width: 100%;
  }
}

.bootstrap-datetimepicker-widget {
  color: #000 !important;
}

.container__cards{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.card{
  transition: all 300ms;
}

.card:hover{
  width: 350px;
}

.card .cover{
  width: 100%;
  height: 250px;
  position: relative;
  overflow: hidden;
  background-color : transparent;
}

.card .cover img{
  width: 250px;
  display: block;
  margin: auto;
  position: relative;
  top: 40px;
  z-index: 1;
  filter: drop-shadow(5px 5px 4px rgba(0,0,0,0.5));
  transition: all 400ms;
}

.card:hover .cover img{
  top: 0px;
  filter: none;
}

.card .img__back{
  width: 100%;
  height: 200px;
  position: absolute;
  bottom: -80px;
  left: 0;
  background-size: cover;
  border-radius: 20px;
  transition: all 300ms;
}

.card:nth-of-type(1) .img__back{
  background-image: url(../images/bg1.jpg);
}


.card:hover .img__back{
  bottom: -40px;
}

.card .description{
  background: #252525;
  padding: 20px;
  border-radius: 0px 0px 20px 20px;
  transition: all 300ms;
}

.card:hover .description{
  padding: 40px;
}

.card .description h2{
  margin-top: 10px;
}

.card .description p{
  margin-top: 10px;
}

.card .description input{
  padding: 10px 40px;
  margin-top: 20px;
  border: none;
  background: #ea272d;
  color: #fff;
  font-size: 14px;
  cursor: pointer;
  border-radius: 8px;
  transition: all 300ms;
}

.card .description input:hover{
  background: #83277b;
}



.success, .error {
  color: white;
  padding: 5px;
  margin: 5px 0 15px 0;
}

.success {
  background: green;
}

.error {
  background: red;
}


#panel, #flip {
  padding: 5px;
  font-size: 18px;
  text-align: center;
  background-color: #46A2FD;
  color: white;
  border: solid 1px #46a;
  border-radius: 3px;
}

#panel {
  padding: 50px;
  display: none;
}

 /*******BOTONES*********/

 main{
  margin-top: 100px;
  padding-bottom: 100px;
}

.container__box{
  margin: auto;
  margin-left: 10%;
  display: inline-flex;
}

.box{
  width: 218px;
  height: 200px;
  background: #f32027;
  margin: 3px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  cursor: pointer;
  transition: all 300ms ease;
  position: relative;
}

.box:hover{
  transform: scale(1.1);
  box-shadow: 0px 0px 30px -15px rgba(0,0,0,0.5);
  background: #fff;
  z-index: 1;
}

.box i{
  font-size: 60px;
  color: #fff;
}

.box:hover i{
  color: #ea272d;
}

.box h5{
  margin-top: 20px;
  text-transform: uppercase;
  font-size: 14px;
  color: #fff;
}

.box:hover h5{
  color: #ea272d;
  opacity: 0;
}

.box h4{
  text-transform: uppercase;
  font-size: 18px;
  color: #ea272d;
  position: absolute;
  bottom: 50px;
  filter: blur(5px);
  opacity: 1;
}

.box:hover h4{
  font-size: 14px;
  opacity: 1;
  filter: blur(0px);
  color: #ea272d;
  transition: all 600ms ease;
}

/*******INICIO&CREAR*********/
.contenedor__todo{
  width: 100%;
  max-width: 800px;
  margin: auto;
  position: relative;
}
.caja__trasera{
  width: 100%;
  padding: 10px 20px;
  display: flex;
  justify-content: center;
  -webkit-backdrop-filter: blur(10px);
  backdrop-filter: blur(10px);
  background: #000 url(../images/bg.png) repeat;
  border: 4px solid rgba(255, 255, 255, 0.04);
}

.caja__trasera div{
  margin: 100px 40px;
  color: #ea272d;
  transition: all 500ms;
}

.caja__trasera div p,
.caja__trasera button{
  margin-top: 30px;
}

.caja__trasera div h3{
  font-weight: 400;
  font-size: 26px;
}

.caja__trasera div p{
  font-size: 16px;
  font-weight: 300;
}

.caja__trasera button{
  padding: 10px 40px;
  border: 2px solid #fff;
  font-size: 14px;
  background: transparent;
  font-weight: 600;
  cursor: pointer;
  color: white;
  outline: none;
  transition: all 300ms;
}

.caja__trasera button:hover{
  background: #fff;
  color: #ea272d;
}

.caja__trasera-login h3 {
  color: red;
}

.caja__trasera-register h3 {
  color: red;
}

/*******FORMS*********/

.contenedor__login-register{
  display: flex;
  align-items: center;
  width: 100%;
  max-width: 380px;
  position: relative;
  top: -185px;
  left: 10px;

  transition: left 500ms cubic-bezier(0.175, 0.885, 0.320, 1.275);
}

.contenedor__login-register form{
  width: 100%;
  padding: 80px 20px;
  background: #fff;
  position: absolute;
  border-radius: 20px;
  border: 1px solid black;
}

.contenedor__login-register form h2{
  font-size: 30px;
  text-align: center;
  margin-bottom: 20px;
  color: red;
  border: 1px solid rgba(255, 255, 255, 0.04);
}

.contenedor__login-register form input{
  width: 100%;
  margin-top: 20px;
  padding: 10px;
  background: rgb(235, 234, 234);
  font-size: 16px;
  outline: none;
  color: #000;
}

.contenedor__login-register form button{
  display: inline-block;
  border-radius: 25px;
  border: none;
  background: #ea272d;
  color: white;
  font-family: inherit;
  text-align: center;
  font-size: 13px;
  box-shadow: 0px 14px 56px -11px #ea272d;
  width: 10em;
  padding: 1em;
  transition: all 0.4s;
  cursor: pointer;
}

.contenedor__login-register form button span{
  cursor: pointer;
  display: inline-block;
  position: relative;
  transition: 0.4s;
}

.contenedor__login-register form button span:after {
  content: 'sesion';
  position: absolute;
  opacity: 0;
  top: 0;
  right: 20px;
  transition: 0.7s;
}

.contenedor__login-register form button:hover span {
  padding-right: 2.55em;
}

.contenedor__login-register form button:hover span:after {
  opacity: 4;
  right: 0;
}

.formulario__login{
  opacity: 1;
  display: block;
}
.formulario__register{
  display: none;
}



@media screen and (max-width: 850px){

  main{
      margin-top: 50px;
  }

  .caja__trasera{
      max-width: 350px;
      height: 300px;
      flex-direction: column;
      margin: auto;
  }

  .caja__trasera div{
      margin: 0px;
      position: absolute;
  }

  .contenedor__login-register{
      top: -10px;
      left: -5px;
      margin: auto;
  }

  .contenedor__login-register form{
      position: relative;
  }
}

/*******NEWS*********/
:root {
  --black: #3a3a3a;
  --white: #fff;
  --red: #ea272d;
}


img {
  display: block;
  height: 200px;
  
}

ol {
  list-style: none;
}

a {
  text-decoration: none;
  color: black;
}

.author-archive {
  padding: 1.5rem;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
}

h1 {
  text-align: center;
  margin-bottom: 2rem;
  
}

h1 a {
  transition: all 0.1s;
}

h1 a:hover {
  background: var(--red);
  color: var(--white);
}

input[type="radio"] {
  position: absolute;
  left: -9999px;
}

.filters {
  text-align: center;
  margin-bottom: 2rem;
}

.filters * {
  display: inline-block;
}

.filters label {
  padding: 0.5rem 1rem;
  margin-bottom: 0.25rem;
  border-radius: 2rem;
  min-width: 50px;
  line-height: normal;
  cursor: pointer;
  transition: all 0.1s;
}

.filters label:hover {
  background: var(--red);
  color: var(--white);
  
}

.posts {
  display: grid;
  grid-gap: 1.5rem;
  grid-template-columns: repeat(4, 1fr);
  
}

.posts .post {
  background: #fafafa;
  border: 1px solid rgba(0, 0, 0, 0.1);
  
}

.posts .post-title {
  font-size: 1.8rem;
}

.posts .post-title:hover {
  text-decoration: underline;
}

.posts figcaption {
  padding: 1rem;
}

.posts .post-categories {
  margin-bottom: 0.75rem;
  font-size: 1.2rem;
}

.posts .post-categories * {
  display: inline-block;
}

.posts .post-categories li {
  margin-bottom: 0.2rem;
}

.posts .post-categories a {
  padding: 0.2rem 0.5rem;
  border-radius: 1rem;
  border: 1px solid;
  line-height: normal;
  transition: all 0.1s;
}

.posts .post-categories a:hover {
  background: var(--red);
  color: var(--white);
}

[value="Todo"]:checked ~ .filters [for="Todo"],
[value="Bases"]:checked ~ .filters [for="Bases"],
[value="Aleros"]:checked ~ .filters [for="Aleros"],
[value="Pivots"]:checked ~ .filters [for="Pivots"],
[value="Partidos"]:checked ~ .filters [for="Partidos"],
[value="Records"]:checked ~ .filters [for="Records"],
[value="Traspasos"]:checked ~ .filters [for="Traspasos"] {
  background: var(--red);
  color: var(--white);
}

[value="Todo"]:checked ~ .posts [data-category] {
  display: block;
}

[value="Bases"]:checked ~ .posts .post:not([data-category~="Bases"]),
[value="Aleros"]:checked ~ .posts .post:not([data-category~="Aleros"]),
[value="Pivots"]:checked ~ .posts .post:not([data-category~="Pivots"]),
[value="Partidos"]:checked ~ .posts .post:not([data-category~="Partidos"]),
[value="Records"]:checked ~ .posts .post:not([data-category~="Records"]),
[value="Traspasos"]:checked ~ .posts .post:not([data-category~="Traspasos"]) {
  display: none;
}

@media screen and (max-width: 900px) {
  .posts {
    grid-template-columns: repeat(3, 1fr);
  }
}

@media screen and (max-width: 650px) {
  html {
    font-size: 14px;
  }

  .posts {
    grid-template-columns: repeat(2, 1fr);
  }
}
